* {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header & nav styles */
.header {
    margin-bottom: 100px;
    max-width: 1600px;
    height: 800px;
    background: url("../images/banner/banner1.png");

}

.navbar {
    float: right;
    padding-top: 300px;
    margin-right: 150px;
    text-align: right;
}

.nav-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    width: 525px;
}

.nav-description {
    width: 494px;
    font-size: 16px;
    color: #444343;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    background: #F15B22;
    width: 160px;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
}

#nav-btn {
    float: right;
}

/* banner section styles */
section {
    margin-left: 200px;
    margin-right: 200px;
}

.banner {
    display: flex;
    align-items: center;
}

.banner-text {
    padding-left: 100px;
}

.banner-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.banner-subtitle {
    font-size: 16px;
    color: #444343;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* plan section styles */
.my-plan-title {
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.plan-container {
    display: flex;
    gap: 100px;
    margin-top: 50px;
}

.plan {
    padding-right: 40px;
}

.plan-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* banner gradiant styles */
.banner-gradiant {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 1)), url("../images/watch.png");
    margin-top: 100px;
    height: 250px;
}

.banner-gradiant-title {
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.banner-gradiant-container {
    padding-left: 40px;
    padding-top: 60px;
}

/* footer section with contact and subscribe-styles */
.footer {
    display: flex;
    background: #151414;
    margin-top: 150px;
}

.contact {
    margin-left: 150px;
    padding-right: 500px;
    padding-bottom: 100px;
    color: #ffffff;
}

.contact-title {
    padding-top: 100px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 5px;
}

.contact-email {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-phone {
    margin-bottom: 10px;
}

.contact a {
    text-decoration: none;
}

.subscribe {
    padding-top: 100px;
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 200px;
}

.sub-email {
    margin-bottom: 20px;
    margin-top: 30px;
    background: #151414;
    padding: 5px 20px 5px 5px;
    font-size: 18px;
    color: #F3F3F3;
}