* {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-primary {
    background: #F15B22;
    width: 160px;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
}

.header {
    margin-bottom: 100px;
    max-width: 1600px;
    height: 800px;
    background: url(/images/banner/banner1.png);

}

.navbar {
    float: right;
}

.nav-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    width: 525px;
}

.nav-description {
    width: 494px;
    font-size: 16px;
    color: #444343;
    width: 494px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.banner {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 200px;

}
.banner-text{
    padding-left: 100px;
}

.banner-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.banner-subtitle{
    font-size: 16px;
    color: #444343;
    padding-top: 15px;
    padding-bottom: 15px;
}
