* {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    margin-left: 200px;
    margin-right: 200px;
}

.btn-primary {
    background: #F15B22;
    width: 160px;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
}

.header {
    margin-bottom: 100px;
    max-width: 1600px;
    height: 800px;
    background: url(/images/banner/banner1.png);

}

.navbar {
    float: right;
}

.nav-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    width: 525px;
}

.nav-description {
    width: 494px;
    font-size: 16px;
    color: #444343;
    width: 494px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.banner {
    display: flex;
    align-items: center;
}

.banner-text {
    padding-left: 100px;
}

.banner-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.banner-subtitle {
    font-size: 16px;
    color: #444343;
    padding-top: 15px;
    padding-bottom: 15px;
}

.my-plan-title {
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.plan {
    padding-right: 40px;
}

.plan-container {
    display: flex;
    gap: 100px;
    margin-top: 50px;
}

.plan-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner-gradiant {
    /* background-image: url(/images/watch.png);
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%); */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 1)), url(/images/watch.png);
    margin-top: 100px;
    height: 200px;
}

.banner-gradiant-title {
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.banner-gradiant-container {
    padding-left: 40px;
    padding-top: 60px;
}

.footer {
    display: flex;
    background: #151414;
    margin-top: 150px;
}

.contact {
    margin-left: 150px;
    padding-right: 800px;
}

.contact-title {
    color: #F8F8F8;
    padding-top: 100px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 5px;
}
.contact-details{
    color: #ffffff
}